:root{--main-color:#f44336;}
html{scroll-behavior: smooth;}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
    transition: all .5s;
}
@media (min-width: 768px) {.container {width: 750px;}}
@media (min-width: 992px) {.container {width: 970px;}}
@media (min-width: 1200px) {.container {width: 1170px;}}
.container{
    margin-right:auto;
    margin-left:auto;
    padding-left: 15px;
    padding-right: 15px;
}
ul{
    list-style: none;
    padding: 0;
}
a{ text-decoration: none;}
/*start header*/
.header{
    width: 100%;
    box-shadow: 0px 25px 10px -25px rgba(117, 114, 114, 0.16);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header .container .name{
    width: 50%;
    font-size: 18px;
}
.header .container .name span{
    font-weight: 400;
    color:var(--main-color)!important;
}
.header .container .links{width: 30%;}
.header .container .links ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.header .container .links ul a{
    color: black;
    font-size: 16px;
}
.header .container .links ul:hover{color: var(--main-color);}
.header .container .links ul .active{color: var(--main-color)!important;}
.header .container .mode {
    display: flex;
    width: 5%;
    justify-content: space-between;
}
.header .container .mode .fa-bars{ display: none;}
@media (max-width: 768px) {
    .header .container .name{ width: 75% !important;}
    .header .container .mode{ width: 20% !important;}
    .header .container .mode .fa-bars{ display: block;}
    .header .container .links {
        order: 2;
        z-index: 111;
        width: 100% !important;
        display: none;
    }
    .header .container .links ul{
        flex-direction: column;
        line-height: 3;
        padding-left: 30px;
    }}
.toggler{display: block !important;}
/*end header*/

/*start home*/
.home .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home .container .text{
    width:50%;
    line-height: 1.5;
}
.home .container .text h1{font-size: 40px;}
.home .container .text h1 span{color: var(--main-color) !important;}
.home .container .text h1 .mover{
    color: rgb(90, 85, 85) !important;
    animation: animation-01 .5s ease-in-out infinite;
}
@keyframes animation-01{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.home .container .text h5{
    background-color: var(--main-color);
    width: fit-content;
    color: white !important;
    padding: 1px 2px 1px 2px;
}
.home .container .text p{letter-spacing: 1.2px;}
.home .container .text ul{
    display: flex;
    justify-content: space-between;
    width: 20%;
    font-size: 22px;
}
.home .container .image{width: 50%;}
.home .container .image img{
    width: 90%;
    border-radius: 50%;
    animation: imageAnimation 2s ease-in-out;
}
@keyframes imageAnimation{
    0%{
        transform: scale(.5)
    }
    100%{
        transform:scale(1);
    }
}
@media (max-width: 992px) {
.home .container .text{width: 100%;}
.home .container .image{
    width: 100%;
    order: -1;
    }
.home .container .text ul{width: 50%;}
}
/*end home*/

/*start skills*/
.skills{margin-top: 60px;}
.skills .text{
    font-size: 40px;
    text-align: center;
    margin: auto !important;
    font-weight: 600;
    background-color: var(--main-color);
    width: fit-content;
    color: white !important;
    border-radius: 5px;
    padding: 4px;
}
.skills .container ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    line-height: 2;
    justify-content: space-between;
}
.skills .container ul li {
    font-size: 20px;
    width: 22%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 5px 5px 15px;
    border-left: 3px solid var(--main-color);
    margin-bottom: 10px;
}
.skills .container ul li:hover{
    transform: translateY(-5px);
    transition: all .5s;
}
@media (max-width: 992px) {.skills .container ul li {width: 45%;}}
@media (max-width: 768px) {.skills .container ul li {width: 100%;}}
/*end skills*/

/*start projects*/
.projects{
    margin-top: 60px;
    width: 100%;
}
.projects .header{
    font-size: 40px;
    text-align: center;
    margin: auto !important;
    font-weight: 600;
    background-color: var(--main-color);
    width: fit-content;
    color: white !important;
    border-radius: 5px;
    padding: 4px;
}
.projects .contain{
    width: 90%;
    margin: auto !important;
    margin-top: 60px !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.projects  .section{
    position: relative;
    width: 48%;
    margin-bottom: 80px;
    overflow: hidden;
    border: 1px solid rgba(66, 65, 65, 0.678);
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.projects .section .image{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.projects .section .image img{width: 100% !important;}
.projects .section .image:hover .img{
    width: 95%;
    border-radius: 10px;
    transform: translateY(0);
    height: fit-content;
    animation: moveAnimation 10s ease-in-out;
}
.projects .section .image .onepage{
    animation: none;
    margin-top: 40px;
}
@keyframes moveAnimation{
    0%{
    transform: translateY(0);
}
    50%{
    transform: translateY(-80%);
}
    100%{
    transform: translateY(0);
}
}
.projects .section .text{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
.projects .section .text .inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#051e34;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    z-index: 2;
}
.projects .section .text a{
    color: white !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
.projects .section .text .inner i{
    color: white !important;
    margin-right: 5px;
}
.projects .section .text .links{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 992px) {
.projects  .section{width: 100%;}
.projects .section .image .onepage{margin-top: 0;}
}
@media (max-width: 768px) {
    .projects .section .text .links{width: 50%;}
    .projects .section-responsive{height: 300px;}
    .projects .section .image .onepage{margin-top: 40px;}
    }
/*end projects*/

/*start footer*/
footer{
    margin-top: 60px;
    border-top: 1px solid rgba(167, 164, 164, 0.563);
    padding-top: 30px;
    padding-bottom: 40px;
}
footer .text{text-align: center;}
footer .text h4{
    margin-top: 30px;
    text-decoration: underline;
}
/*end footer*/